#navigation-bar {
  height: 50px;
  border-bottom: 2px solid red;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Fira Code";
}
/* html{
  height: 100vh;
  width: 100vw;
} */

#logo{
    height: 23px;
    margin-top: 8px;
}

#profile-picture{
   display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 16px;
    color: black;
    background-color: white;
    font-size: 20px;
}


/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;  
  left: 800px;
  margin-bottom: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  right: 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
  /* bottom: 1px; */
  /* border-radius: 1px; */
  font-family: "Fira Code";
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /* left: 20px; */
  font-family: "Fira Code";
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

#logout:hover{
  cursor: pointer
}

#logout {
  z-index: 2;
  color: black;
  background-color: #f1f1f1;
}

#logout:hover {
  background-color: black;
  color: white;
}

.navbar-login-container {
  background-color: black;
  display: flex;
  height: 30px;
  margin-top: 6px;
  width: 60px;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  /* margin: 0 0 0 16px; */
}


.navbar-login-container > a {
  color: white;
}
